<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="warren.myblog.mapper.ArticleMapper">

    <resultMap id="articleMap" type="warren.myblog.pojo.Article">
        <id column="id" property="id" />
        <result column="author_id" property="authorId"/>
        <result column="comment_counts" property="commentCounts"/>
        <result column="create_date" property="createDate"/>
        <result column="summary" property="summary"/>
        <result column="title" property="title"/>
        <result column="view_counts" property="viewCounts"/>
        <result column="weight" property="weight"/>
        <result column="body_id" property="bodyId"/>
        <result column="category_id" property="categoryId"/>
    </resultMap>

    <select id="listArchives" resultType="warren.myblog.vo.Dto.ArchiveDTO">
        SELECT
        YEAR(STR_TO_DATE(create_date, '%Y-%m-%d %H:%i:%s')) AS year,  <!-- 修正格式 -->
        MONTH(STR_TO_DATE(create_date, '%Y-%m-%d %H:%i:%s')) AS month, <!-- 修正格式 -->
        COUNT(*) AS count
        FROM ms_article
        WHERE create_date IS NOT NULL
        GROUP BY YEAR(STR_TO_DATE(create_date, '%Y-%m-%d %H:%i:%s')),
        MONTH(STR_TO_DATE(create_date, '%Y-%m-%d %H:%i:%s'))
        ORDER BY year DESC, month DESC;
    </select>

    <select id="listArticle" resultMap="articleMap">
        SELECT * FROM ms_article
        <where>
            1 = 1
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <if test="year != null and year != '' and month != null and month != ''">
                AND (
                DATE_FORMAT(STR_TO_DATE(create_date, '%Y-%m-%d %H:%i:%s'), '%Y') = #{year}
                AND DATE_FORMAT(STR_TO_DATE(create_date, '%Y-%m-%d %H:%i:%s'), '%c') = #{month}
                )
            </if>
            <if test="tagId != null">
                AND id IN (SELECT article_id FROM ms_article_tag WHERE tag_id=#{tagId})
            </if>
        </where>
        ORDER BY weight DESC, view_counts DESC, create_date DESC
    </select>




</mapper>